<h1 class="rumble">URails Rumble!</h1>

<p>
A competition for Ruby on Rails developers and designers. Groups of 1 - 4 have 48 hours to build an awesome website, from Dec 18th - Dec 20th. The vivid details are on the <%= link_to "rules page", rules_path %>. Sign in and create your team to get started!</p>

<br />
<div style="text-align:center;">
<%= link_to "Sign in with Github", "/auth/github", class: "btn btn-large btn-custom" %>
</div>

<% if @pledge.errors.present? %>
  <div style="text-align:center;">
    <ul class="errors">
    <% @pledge.errors.full_messages.each do |mess| %>
      <li><%= mess %></li>  
    <% end %>
    </ul>
  </div>
<% end %>

<% if flash[:success] %>
  <div class="success"><%= flash[:success] %></div>
<% end %>
<div class="clear"></div>


