body {
  font-family: "Helvetica";
}

.main-content {
  padding-top: 40px;
}

input[type=text] {
  width:300px;
}

.btn-custom {
  width: 400px;
  margin-bottom:9px;
  background-color: hsl(8, 79%, 27%) !important;
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#e54128", endColorstr="#7b1c0e");
  background-image: -khtml-gradient(linear, left top, left bottom, from(#e54128), to(#7b1c0e));
  background-image: -moz-linear-gradient(top, #e54128, #7b1c0e);
  background-image: -ms-linear-gradient(top, #e54128, #7b1c0e);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #e54128), color-stop(100%, #7b1c0e));
  background-image: -webkit-linear-gradient(top, #e54128, #7b1c0e);
  background-image: -o-linear-gradient(top, #e54128, #7b1c0e);
  background-image: linear-gradient(#e54128, #7b1c0e);
  border-color: #7b1c0e #7b1c0e hsl(8, 79%, 20.5%);
  color: #fff !important;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.42);
  -webkit-font-smoothing: antialiased;
}
