// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.rules {
  margin-bottom:40px;
  h1 { font-size:50px; }
  h1, h2 {
    text-align:center;
  }

  li {
    padding:5px;
  }

}
