h1.rumble {
  text-align:center;
}

.errors {
  padding: 10px;
  background-color:#c00;
  color:white;
  display:inline-block;
  text-align:center;
  border-radius:7px;
  min-width:300px;
}

.success {
  text-align:center;
}

.field_with_errors {
  display:inline;
}
